.sidebarbody {
  width: 195px !important;
  height: 48px;
  margin-bottom: 4px;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.sideicons {
  width: 16px;
  height: 16px;
  padding: 10px 10px;
  border-radius: 6px;
  background-color: rgba(246, 246, 246, 1);
}
.footericons {
  width: 16px;
  height: 16px;
  border-radius: 6px;
  background-color: #f6f6f6;
}
.sidetitles {
  margin: 0;
  margin-left: 22px;
  font-size: 15px;
  /* line-height: 17, 58px; */
  color: #2d3a45;
  font-weight: 600;
}
.sidebarbody:hover {
  background-color: #fcb600;
  cursor: pointer;
  transition: 0.5s;
}
.sidebarbody:hover .icons {
  background-color: transparent;
  color: whitesmoke;
}
.sidebarbody:hover .sidetitles {
  color: white;
  transition: 0.5s;
}
.sidebarFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 273px;
  height: 55px;

  margin-left: 15px;
  margin-bottom: 2px;
  background-color: #c4c4c4;
  font-weight: 500;
}
.sidebarFooter .icons {
  background-color: #f6f6f6;
  margin-left: 25px;
  margin-right: 9px;
  opacity: 100%;
}
.sidebarFooter:hover {
  cursor: pointer;
}
.active-true {
  background-color: #fcb600;
}
.active-true .icons {
  background-color: #fcb600;
  color: white;
}
.active-true .sidetitles {
  color: white;
}
